*{
    padding: 0; 
    box-sizing: border-box;
}

body {background-color: #dddddd;}


header { 
    font-family: 'Courier New', Courier, monospace;
    background-color: #201c51;
    text-align: center;
}

header h1 {font-weight: 10000;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
@media screen and (min-width : 400px){
    header h1 { font-size: 20px;}
}

@media screen and (min-width :900px){
    header h1 {font-size: 30px;}
}

form {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    font-size: 10px;
}

@media screen and (min-width : 600px){
    form { font-size: 16px;}
}

@media screen and (min-width :900px){
    form {font-size: 20px;}
